*{
    margin :0;
    padding:0;
}

body{  
    font-family: 'Oxanium', cursive;
}
.container{ 
    .navbar{
        display:flex;
        justify-content: space-between;
        height: 65px;
        width: 100%;
        align-items: center;
        background-color: #242633;
        position: sticky;
        top: 0%;
        z-index: 22;
        .left{
            display: flex;
            height: 100%;
            box-sizing: border-box;
            width: 445px;
            @media (min-width:320px) and (max-width:768px){
                width: 100%;
                background-color: orange;
            }
            @media (min-width:769px) and (max-width:992px){
                padding: 0 0% 0 0%;
                width: 30%;
            }
            @media (min-width:993px) and (max-width:1200px){
               
                width: 30%;
            }
            .logo{
                background-color: orange;        
                display: flex;
                align-items: center;
                height: 100%;
                padding: 0 35% 0 12%;
                // position: relative;
                @media (min-width:320px) and (max-width:768px){
                    padding: 0 0% 0 5%;
                    width: 100%;
                }
                @media (min-width:769px) and (max-width:992px){
                    padding: 0 20% 0 10%;
                }
                // &::before{
                //     content: '';
                //     position: absolute;
                //     width: 50px;
                //     height: 65px;            
                //     background-color: orange;
                //     right: -9%;
                //     transform: skewX(26deg);
                //     @media (width:320px){
                //         right: -30%;
                //     }
                // }         
                li{
                   list-style: none;
                   height: 100%;
                   img{
                        width: 50px;
                        margin-right: 10px;
                        height: 100%;
                        object-fit: cover;
                        @media (min-width:320px) and (max-width:480px){
                            display: none;
                        }
                   }
                }
                .geco{
                    font-weight: bolder ;
                    font-size: 26px;
                    color: white;
                    display: flex;
                    align-items: center;
                    @media (width:320px){
                        margin-left: 30%;
                    }
                }
            }
            .skew-box{
                height: 100%;
                width: 50px;
                background: orange;
                transform: skewX(20deg) translateX(-12px);
                @media (min-width:320px) and (max-width:768px){
                    display: none;
                }
            }
        }
        .bars{
            width: 120px;
            height: 100%;
            @media (min-width:768px) and (max-width:1920px){
                display: none;
            }
            .bar{
                font-size: 48px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                
            }
            .ti{
                color: whitesmoke;
                transition: 10s ease-in-out;
            }
            .down{
                display: none;
                color: whitesmoke;
            }
        }
        .navkeys{
            gap: 1px;
            margin-right: 20px;
            display:flex ;
            flex-wrap: wrap;
            height: 100%;
            align-items: center;
            @media (min-width:320px) and (max-width:768px){     
                display: none; 
            }
            li{
                box-sizing: border-box;
                padding: 10px;
                display: flex;
                align-items: center;
                height: 80%;
                line-height: 1;
                font-size: clamp(8px,1.2vw,16px);
                @media (min-width:320px) and (max-width:768px){
                    height: 6%;
                    padding: 0 25%;
                }
            }
            #home_nv{
                list-style: none;        
                background-color: orange;
                transform: skewX(-20deg);
                a{
                    display: block;
                    padding: 0 10px;
                    color: white;
                    text-decoration: none;
                    transform: skewX(20deg);
                }
            }
            .bg{
                list-style: none;
                transform: skewX(-20deg);    
                &:hover{
                    background-color:orange;
                }           
                a{                  
                    display: block;
                    text-decoration: none;
                    color: white; 
                    transform: skewX(20deg);
                }
            }
            .icon{
                list-style: none;
                display: flex;
                align-items: center;
                .icn{
                    color: white;
                    font-size: 14px;
                }
                .bucket{
                    position: relative;
                    &::before{
                        content: '0';
                        position: absolute;
                        background-color: orange;
                        color: white;
                        top: 0;
                        right: 0;
                    }
                }
            }
        }  
        @media(min-width: 320px) and (max-width:768px){
            .navres{
                display: flex;         
                position: absolute;
                top:0%;
                background: transparent; 
                flex-direction: column;
                gap: 20px;
                width: 100%;
                backdrop-filter: blur(8px);
                height: 90vh;
                z-index: 1;          
            } 
        }      
    }

    .frst_carousel{
        width: 100%;
        height: 700px;
        position: relative;
        overflow: hidden;       
        .crbtn{
            position: absolute;
            background: radial-gradient(circle, rgb(221, 173, 61) 0%, 
                                                rgb(132, 88, 17) 100%);
            border-radius: 34px;
            width: 50px;
            height: 50px;
            border: none;
            cursor: pointer;
            z-index: 12;
        }
        .btn{
            font-size: 1.8rem;
            padding: 6px;
            color: white;           
        }
        .left_btn{           
            left: 5%;
            top: 43%;
        }
        .ryt_btn{
            right: 5%;
            top: 43%;
        }
        .bimg{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .wrap{
            width: 82%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            overflow: hidden;
            
            .slides{
                width: 100%;
                height: 100%;
                display: flex;
                .slide{
                    min-width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media (min-width:320px) and (max-width:768px){
                       flex-direction:column-reverse;
                    }
                    .carousel_content{
                       height: 400px;
                       width: 40%;
                       @media (min-width:320px) and (max-width:768px){
                            margin-top: 4%;
                            width: 80%;
                            height: 50%;
                            text-align: center;
                       }
                       @media (min-width:769px) and (max-width:992px){
                            margin-top:12%;
                            width: 38%;
                            height: 400px;
                            margin-left: 14%;
                       }
                        @media (min-width:993px) and (max-width:1200px){
                            margin-top: 8%;
                            width: 50%;
                            margin-left: 11%;
                        }
                        @media (min-width:1201px) and (max-width:1366px){
                            margin-left: 0;
                        }
                        @media (min-width:1367px) and (max-width:1400px){
                            margin-left: 0;
                            margin-top: 0;
                        }
                        @media (min-width:1401px) and (max-width:1600px){
                            margin-left: 2%;
                            margin-top: 0;
                        }
                        h4{
                            color: orange;
                            font-size: clamp(12px,1vw,16px);
                        }
                        h1{
                            font-size: clamp(2rem,5vw,5rem);
                            color: white;         
                            span{
                                color: orange;
                            }
                        }
                        .matches{
                           position: relative;
                           bottom: 25px;
                           @media (min-width:320px) and (max-width:768px){
                            bottom: 0;
                            margin-bottom: 40px;
                           }
                           @media (min-width:769px) and (max-width:992px){
                            top: 0;
                           }
                            @media (min-width:993px) and (max-width:1200px){
                              bottom: 0;
                            }
                        }
                        p{
                            color: white;
                            position: relative;
                            bottom: 20px;
                            font-size: clamp(12px,1vw,17px);
                            @media (min-width:320px) and (max-width:768px){
                                margin-bottom: 0;
                            }
                            @media (min-width:769px) and (max-width:992px){
                               top: 10px;
                            }
                            @media (min-width:993px) and (max-width:1200px){
                                bottom: 0;
                            }
                        }
                        .skewit{
                            transform: skewX(-20deg);
                            width: 150px;
                            height: 45px;
                            background-color: orange;    
                            margin-top: 26px; 
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            @media (min-width:320px) and (max-width:768px){
                                margin:0 auto;
                                width: 125px;
                                height: 36px;
                            }
                            &::before{
                                content: '';
                                position: absolute;
                                right: -10px;
                                background-color: orange;
                                width: 5px;
                                height: 45px;
                                @media (min-width:320px) and (max-width:768px){
                                    height: 36px;
                                }
                            }          
                            .read{
                                font-weight: lighter;
                                font-size: 16px;
                                color: black;                   
                                padding: 10px 15px;
                                text-decoration: none;
                                // transform: rotate(20deg);                        
                            }
                        }
                    }
                    .carousel_imgs{
                        @media (min-width:320px) and (max-width:768px){
                            height: 50%;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            box-sizing: border-box;
                        }
                        @media (min-width:769px) and (max-width:992px){
                            height: 100%;
                            width: 50%;
                        }
                        @media (min-width:993px) and (max-width:1200px){
                            width: 75%;
                            margin-top: 0;
                        }
                        .chrctr{
                            width: 600px;
                            margin: 2% 4%;
                            @media (min-width:320px) and (max-width:480px){
                                width: 274px;
                                margin-top: 20px;
                            }
                            @media (min-width:481px) and (max-width:576px){
                                width: 284px;   
                                margin-top: 20px;                  
                            }
                            @media (min-width:577px) and (max-width:768px){
                                width: 300px;
                                margin-top: 20px;
                            }
                            @media (min-width:769px) and (max-width:992px){
                                width: 75%;
                                margin-top: 140px;
                            }
                            @media (min-width:993px) and (max-width:1200px){
                               width: 420px;
                            }
                            @media (min-width:1201px) and (max-width:1366px){
                                width: 480px;
                            }
                            @media (min-width:1367px) and (max-width:1400px){
                                width: 490px;
                            }
                            @media (min-width:1401px) and (max-width:1650px){
                                width: 600px;
                                margin: 0;
                        }
                        }
                    }
                }
            }
        }
    }

    .scnd_card_crwsl{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 67rem;
        align-items: center;
        @media (min-width:320px) and (max-width:576px){
            height: 55rem;
        }
        .scndbg{
            width: 100%;
            height: 100%;
            background-color: white; 
        }
        .scrwsl_cntnt{
            position: absolute;                
            top: 110px;
            box-sizing: border-box;
            @media (min-width:320px) and (max-width:480px){
                top: 60px;
            }
            @media (min-width:481px) and (max-width:576px){
                top: 70px;
            }
            h6{
                color:white;
                padding-left: 10px;
                display: inline-block;
                margin-bottom: 10px;
            }
            .cr_heading{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding:0 10px;
                margin-bottom: 30px;
                h4{
                    font-size: 26px;
                    color: white;
                }
                span{
                    color: orange;
                }
                .btn{
                    box-sizing: border-box;
                    @media (min-width:320px) and (max-width:885px){
                        position: relative;
                    }
                    button{
                        color: white;
                        padding: 8px;
                        background: transparent;
                        border: 1px solid white;
                        cursor: pointer;
                    }
                }
                #cleft{
                    @media (min-width:320px) and (max-width:479px){
                        position: absolute;
                        top: 390px;
                        z-index: 1;
                        right: 10rem;
                    }
                    @media (min-width:480px) and (max-width:584px){
                        position: absolute;
                        top: 200px;
                        z-index: 1;
                        right: 20rem;
                    }
                }
                #cryt{
                    @media (min-width:320px) and (max-width:479px){
                        position: absolute;
                        top: 390px;
                        z-index: 1;
                        right: 4rem;
                    }
                    @media (min-width:480px) and (max-width:584px){
                        position: absolute;
                        top: 200px;
                        z-index: 1;
                        left: 3.5rem;
                    }
                }
            }
            .wrap2{
                height: 328px;
                width: 55rem;
                overflow: hidden;
                @media (min-width:320px) and (max-width:585px){
                    width: 15rem;
                    height: 18rem;
                    margin: 0 auto;
                }           
                @media (min-width:586px) and (max-width:885px){
                    width: 36rem;
                }  
                .cards_carousel{
                    display: flex;
                    .card_box{
                        position: relative;
                        min-width: 270px;
                        height: 325px;
                        border: 1px solid black;
                        box-shadow: 2px 2px 8px 2px black;
                        margin: 0 10px;    
                        overflow: hidden;                   
                        @media (min-width:320px) and (max-width:480px){
                            box-shadow: none;
                            min-width: 267px;
                            height: 287px;
                            margin-right: 10px;
                            right: 10px;
                        }
                        img{
                            width: 100%;                   
                            object-fit: cover;
                            height: 100%;
                        }
                        .card_content{
                            position: absolute;
                            top: 250px;
                            opacity: 70%;
                            width: 100%;
                            height: 75px;
                            background-color: blue;
                            padding-left: 20px;
                            @media (min-width:320px) and (max-width:480px){
                                top: 212px;
                            }
                            span{
                                color: orange;
                            }
                            h3{
                                margin: 10px auto;
                            }
                            p{
                                color: white;
                                margin: 10px auto;
                            }
                        }
                    }
                }
            }
        }   
        .vdo_box{
            text-align: center;
            position: absolute;
            top: 68%;
            .playbtn{
                display: none;
            }
            h2{
                color: white;
                margin: 0;
                span{
                    color: orange;
                }
            }
            .design{
                width: 150px;
                margin-bottom: 25px;
            }
            .vdo-block{
                position: relative;
                cursor: pointer;
                &:hover{                  
                    #play,#pause{
                       display: block;
                    }
                }
                .vdo_btn{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 45px;
                    height: 45px;
                    border-radius: 8px;
                    background: orange;
                    z-index: 11;
                    cursor: pointer;
                    border: 1px solid white;
                }
                .vicn{
                    font-size: 26px;
                }
                #play{
                    display: none;
                    z-index: 4;
                }
                #pause{
                    display: none;
                    z-index: 3;
                }
                .vdo{
                    width:42rem;
                    border-radius: 10px;
                    @media (min-width:320px) and (max-width:480px){
                        width: 18rem;
                    }
                    @media (min-width:481px) and (max-width:576px){
                        width: 25rem;
                    }
                    @media (min-width:577px) and (max-width:768px){
                        width: 28rem;
                    }
                    @media (min-width:769px) and (max-width:992px){
                        width: 34rem;
                    }
                    @media (min-width:993px) and (max-width:1200px){
                        width: 38rem;
                    }
                }
            }          
        }
    }        

    .match{
        position:relative;
        top: 14.5rem;
        height: 200px;
        width: 875px;
        margin: 0 auto;
        @media(min-width:320px) and (max-width:480px){
            width: 300px;
        }
        @media(min-width:481px) and (max-width:576px){
            width: 440px;
        }
        @media(min-width:577px) and (max-width:768px){
            width: 500px;
        }
        @media(min-width:769px) and (max-width:992px){
            width: 700px;
        }
        @media(min-width:993px) and (max-width:1200px){
            width: 800px;
        }

        .Eagle_box{
            position: relative;
            height: 230px;
            width: 230px;
            display: inline-block;
            right: 50px;
            bottom: 50px;
            @media(min-width:320px) and (max-width:480px){
                left: 0%;
                bottom: 100%;
                height: 150px;
                width: 150px;
            }
            @media(min-width:481px) and (max-width:576px){
                left: 4%;
                bottom: 100%;
                height: 180px;
                width: 180px;
            }
            @media(min-width:577px) and (max-width:768px){
                left: 0%;
                bottom: 100%;
                height: 180px;
                width: 180px;
            }
            @media(min-width:769px) and (max-width:992px){
                left: 0%;
                bottom: 100px;
            }
            .Eagle_png{
                position: absolute;
                width: 100%;
                z-index: 1;
                height: 100%;
                object-fit: cover;
            }
            .skew1{
                transform: skewX(20deg);
                line-height: 1.2;
                position: absolute;
                left: 158px;
                top: 100px;
                background-color: orange;
                height: 50px;
                width: 150px;
                @media(min-width:320px) and (max-width:480px){
                    left: 88px;
                    top: 58px;
                }
                @media(min-width:481px) and (max-width:576px){
                    left: 112px;
                    top: 80px;
                }
                @media(min-width:577px) and (max-width:768px){
                    left: 112px;
                    top: 80px;
                }
                .eagle_content{                       
                    transform: skewX(-20deg);
                    color: white;
                    font-size: 8px;
                    font-weight: 100;
                    margin-left: 57px;
                    margin-top: 5px;
                    span{
                        font-size: 18px;
                        color: black;
                        margin-left: 30px;
                    }
                }
            }
        }
        .fox_box{
            position: relative;
            height: 230px;
            width: 230px;
            display: inline-block;
            left: 58%;
            bottom: 50px;
            @media(min-width:320px) and (max-width:480px){
                left: 50%;
                height: 150px;
                width: 150px;
                bottom: 70px;
            }
            @media(min-width:481px) and (max-width:576px){
                left: 18%;
                height: 180px;
                width: 180px;
                top: 155px;
            }
            @media(min-width:577px) and (max-width:768px){
                left: 30%;
                height: 180px;
                width: 180px;
                top: 155px;
            }
            @media(min-width:769px) and (max-width:992px){
                left: 34%;
                top: 94%;
            }
            @media(min-width:993px) and (max-width:1200px){
                left: 48%;
            }
            .Fox_png{
                position: absolute;
                width: 100%;
                z-index: 1;
                height: 100%;
                object-fit: cover;
            }
            .skew2{
                transform: skewX(-20deg);
                line-height: 1.2;
                position: absolute;
                right: 153px;
                top: 100px;
                background-color: orange;
                height: 50px;
                width: 150px;
                color: white;
                @media(min-width:320px) and (max-width:480px){
                    right: 90px;
                    top: 55px;
                }
                @media(min-width:481px) and (max-width:576px){
                    right: 120px;
                    top: 70px;
                }
                @media(min-width:577px) and (max-width:768px){
                    right: 120px;
                    top: 70px;
                }
                .fox_content{
                    transform: skewX(20deg);
                    font-size: 8px;
                    margin: 5px 10px;                       
                    span{
                        font-size: 18px;
                        color: black;
                        padding-left: 10px;
                    }
                }
            }
        }
        .match_content{
            text-align: center;
            position: relative;
            height: 180px;
            bottom: 247px;
            @media(min-width:320px) and (max-width:480px){
                bottom: 400px;
            }
            .live{
                font-size: 16rem;
                z-index: -1;
                position: absolute;
                left: 190px;
                color: whitesmoke;
                top: -63px;
                letter-spacing: -17px;
                @media(min-width:320px) and (max-width:480px){
                    font-size: 9rem;
                    left: 20px;
                    top: 20px;
                }
                @media(min-width:481px) and (max-width:576px){
                    font-size: 11rem;
                    left: 70px;
                    top: 20px;
                }
                @media(min-width:577px) and (max-width:768px){
                    font-size: 12rem;
                    left: 70px;
                    top: 20px;
                }
                @media(min-width:769px) and (max-width:992px){
                    font-size: 12rem;
                    top: 60px;
                    left: 170px;
                }
                @media(min-width:993px) and (max-width:1200px){
                    left: 150px;
                }
            }
            .match_tag{
                position: absolute;
                background-color: orange;
                color: white;
                font-size: 10px;
                display: inline;
                padding: 5px 12px;
                letter-spacing: 1px;
                left: 20rem;
                @media(min-width:320px) and (max-width:480px){                
                    top: 56px;
                    left: 84px;
                    padding: 5px;
                    font-size: 9px;
                }
                @media(min-width:481px) and (max-width:576px){
                    top: 70px;
                    left: 164px;
                    padding: 3px;
                }
                @media(min-width:577px) and (max-width:768px){
                    top: 70px;
                    left: 174px;
                    padding: 3px;
                }
                @media(min-width:769px) and (max-width:992px){
                    left: 39%;
                    top: 112px;
                    padding: 5px;
                }
            }
            .time{
                position: absolute;
                font-size: 50px;
                top: 40px;
                left: 41%;
                @media(min-width:320px) and (max-width:480px){
                    top: 90px;
                    left: 43%;
                    font-size: 22px;
                }
                @media(min-width:481px) and (max-width:576px){
                    top: 105px;
                    left: 43%;
                    font-size: 32px;
                }
                @media(min-width:577px) and (max-width:768px){
                    top: 100px;
                    left: 40%;
                    font-size: 38px;
                }
                @media(min-width:769px) and (max-width:992px){
                    top: 82%;
                    left: 19rem;
                    font-size: 32px;
                }
            }
        }
    }

    .games{
        background-color: #f7f7f7;
        text-align: center;
        padding: 50px 0;
        margin-top: 300px;
        @media(min-width:320px) and (max-width:480px){
            margin-top: 20rem;
        }
        @media(min-width:481px) and (max-width:768px){
            margin-top: 26rem;
        }
        @media(min-width:769px) and (max-width:992px){
            margin-top: 33rem;
        }
        h1{
            font-size: 26px;
            margin-top: 50px;
        }
        .design{
            width: 150px;
        }
        .released_games{
            width: 80rem;
            margin: 20px auto;
            display: flex;
            flex-wrap: wrap;
            @media(min-width:320px) and (max-width:480px){
                width: 267px;
            }
            @media(min-width:481px) and (max-width:576px){
                width: 28rem;
            }
            @media(min-width:577px) and (max-width:768px){
                width: 32rem;
            }
            @media(min-width:769px) and (max-width:992px){
                width: 46rem;              
            }
            @media(min-width:993px) and (max-width:1200px){
                width: 60rem;
            }
            @media(min-width:1201px) and (max-width:1366px){
                width: 72rem;
            }
            .box{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                position: relative;
                transition: 1s all;
                @media(min-width:320px) and (max-width:1366px){
                   justify-content: center;
                   gap: 5px;
                }
                .card_box{
                    max-width: 320px;
                    height: 410px;
                    position: relative;
                    &:hover{
                        .card_content{
                            position: absolute;
                            color: black;
                            background-color: #e5a100;
                            opacity: 80%;
                            height: 100%;
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            left: 0;
                            bottom: 0;
                            z-index: 1;
                            img{
                                display: block;
                                width: 70px;
                                height: 70px;
                            }
                            span{
                                color: black;
                            }
                            p{
                                color: white;
                                font-size: 13px;
                            }
                        }
                    }
                    @media(min-width:320px) and (max-width:480px){
                        min-width: 267px;
                        height: 287px;
                    }
                    @media(min-width:481px) and (max-width:576px){
                        min-width: 225px;
                        height: 300px;
                    }
                    @media(min-width:577px) and (max-width:768px){
                        min-width: 256px;
                        height: 320px;
                    }
                    @media(min-width:769px) and (max-width:992px){
                        min-width: 245px;
                        height: 300px;
                    }
                    @media(min-width:993px) and (max-width:1200px){
                        min-width: 230px;
                        height: 330px;
                    }
                    @media(min-width:1201px) and (max-width:1366px){
                        min-width: 280px;
                        height: 390px;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .card_content{
                        position: absolute;
                        color: white;
                        left: 20px;
                        bottom: 10px;
                        height: 50px;
                        text-align: start;
                        width: 100%;
                        img{
                            display: none;
                        }
                        span{
                            color: orange;
                        }
                        p{
                            margin-right: 45px;
                            font-size: 13px;
                        }
                    }
                }
                h4{
                    margin: 0 auto;
                    margin-bottom: 150px;
                    #new-idea{
                        color: orange;
                        font-size: 18px;
                        position: relative;
                        cursor: pointer;
                        &::after{
                            position: absolute;
                            content: '';
                            top:105% ;
                            left: 0;
                            width: 40px;
                            height: 2px;
                            background-color: black;
                        }
                    }
                }   
                .gme{
                    position: absolute;
                }
                .game-1{
                    right: 0;
                    scale: .4;
                    top: -110px;
                    @media(min-width:320px) and (max-width:480px){
                        right: 80px;
                        top: -13px;
                        rotate: -32deg;
                    }
                    @media(min-width:481px) and (max-width:576px){
                        right: 29px;
                        scale: .4;
                        top: -50px;
                        rotate: -23deg;
                    }
                    @media(min-width:577px) and (max-width:768px){
                        right: -92px;
                        scale: .4;
                        rotate: 25deg;
                        top: -100px;
                    }
                    @media(min-width:769px) and (max-width:992px){
                        rotate: -36deg;
                        right: 75px;
                        top: -25px;
                    }
                    @media(min-width:993px) and (max-width:1200px){
                      
                    }
                    @media(min-width:1201px) and (max-width:1366px){
                       
                    }
                    @media(min-width:1367px) and (max-width:1450px){
                        right: -30px;
                        rotate: 0deg;
                    }
                }
                .game-2{
                    top: -100px;
                    right: -30px;
                    rotate: 26deg;
                    scale: .4;
                    @media(min-width:320px) and (max-width:480px){
                        top: -8px;
                        right: -90px;
                        rotate: 15deg;
                    }
                    @media(min-width:481px) and (max-width:576px){
                        top: -69px;
                        right: -76px;
                        rotate: -22deg;
                    }
                    @media(min-width:577px) and (max-width:768px){
                        top: -29px;
                        right: -88px;
                        rotate: 37deg;
                    }
                    @media(min-width:769px) and (max-width:992px){
                        top: -50px;
                        right: -60px;
                    }
                    @media(min-width:993px) and (max-width:1200px){
                      
                    }
                    @media(min-width:1201px) and (max-width:1366px){
                       
                    }
                    @media(min-width:1367px) and (max-width:1450px){
                        right: -20px;
                        rotate: 15deg;
                    }
                }
                .game-3{
                    right: -50px;
                    top: -63px;
                    rotate: -12deg;
                    scale: .4;
                    @media(min-width:320px) and (max-width:480px){
                        right: 30px;
                        top: -8px;
                        rotate: -39deg;
                    }
                    @media(min-width:481px) and (max-width:576px){
                        right: -24px;
                        top: -38px;
                        rotate: -31deg;
                    }
                    @media(min-width:577px) and (max-width:768px){
                        right: 20px;
                        top: -48px;
                        rotate: -32deg;
                    }
                    @media(min-width:769px) and (max-width:992px){
                        right: 20px;
                        top: -45px;
                        rotate: 10deg;
                    }
                    @media(min-width:993px) and (max-width:1200px){
                    }
                    @media(min-width:1201px) and (max-width:1366px){
                        right: 0;
                    }
                    @media(min-width:1367px) and (max-width:1450px){
                        right: -30px;
                        rotate: -5deg;
                    }
                }
                .game-4{
                    right: -120px;
                    top: -80px;
                    rotate: 30deg;
                    scale: .4;
                    @media(min-width:320px) and (max-width:480px){
                        right: -45px;
                        top: 12px;
                        rotate: -20deg;
                    }
                    @media(min-width:481px) and (max-width:576px){
                        right: -70px;
                        top: -30px;
                        rotate: 22deg;
                    }
                    @media(min-width:577px) and (max-width:768px){
                        right: -40px;
                        top: 0px;
                        rotate: -26deg;
                    }
                    @media(min-width:769px) and (max-width:992px){
                        right: -20px;
                        top: -30px;
                        rotate: -20deg;
                    }
                    @media(min-width:993px) and (max-width:1200px){
                        right: -40px;
                    }
                    @media(min-width:1201px) and (max-width:1366px){
                        right: -50px;
                    }
                    @media(min-width:1367px) and (max-width:1450px){
                        right: -30px;
                        rotate: 20deg;
                    }
                }
            }
        }
    } 
    .article{
        max-width: 890px;
        margin: 0 auto;    
        .arcticle_content{
            text-align: center;
            h1{
                font-size: 26px;
                margin-top: 60px;
                margin-bottom: 0;
                span{
                    color: orange;
                }
            }
            img{
                width: 150px;
            }
            p{
                font-size: 11px;
                opacity: 45%;
                margin-top: 0;
                margin-bottom: 5px;
            }
        }
        .block{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            margin-top: 50px;
            .inr_block{
                width: 279px;
                @media(min-width:320px) and (max-width:480px){
                    margin-bottom: 20px;
                }
                @media(min-width:481px) and (max-width:768px){
                    margin-bottom: 20px;
                }
                h4{
                    font-size: 15px;
                    margin: 5px 0;
                    opacity: 80%;
                }
                .icon{
                    color: orange;
                    margin: 0 4px;
                    font-size: 10px;
                }
                p{
                    font-size: 10px;
                    opacity: 45%;
                    margin-bottom: 5px;
                }
                .show{
                    line-height: 20px;
                }
                a{
                    color: black;
                    text-decoration: none;
                    font-size: 10px;
                    opacity: 85%;                         
                }
                img{
                    width: 100%;
                    height: 190px;
                    object-fit: cover;
                }
            }
        }
    }
    footer{
        position: relative;
        top: 100px;
        width: 100%;
        height: 26rem;
        @media(min-width:320px) and (max-width:480px){
            height: 68rem;
        }
        @media(min-width:481px) and (max-width:576px){
            height: 64rem;
        }
        @media(min-width:577px) and (max-width:768px){
            height: 45rem;
        }
        @media(min-width:769px) and (max-width:992px){
            height: 42rem;
        }
        @media(min-width:993px) and (max-width:1665px){
            height: 29rem;
        }      
        .fbg{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .newsletter{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -40px;
            width: 875px;
            height: 90px;
            display: flex;
            flex-wrap: wrap;
            background: #1d181e;
            border-radius: 50px;
            color: white;
            align-items: center;
            @media(min-width:320px) and (max-width:480px){
                width: 300px;
            }
            @media(min-width:481px) and (max-width:576px){
                width: 450px;
            }
            @media(min-width:577px) and (max-width:768px){
                width: 550px;
            }
            @media(min-width:769px) and (max-width:992px){
                width: 700px;
            }
            @media(min-width:993px) and (max-width:1200px){
                width: 875px;
            }
            .news{
                margin-left: 50px;
                font-size: 18px;
                span{       
                    color: #e5a100;
                }
            }
            .search{
                background: #272228;
                transform: skewX(-20deg);
                margin-left: 140px;
                padding-left: 20px;
                width: 340px;
                height: 32px;
                display: flex;
                align-items: center;
                @media(min-width:320px) and (max-width:480px){
                    width: 130px;
                    margin-left: 20px;
                }
                @media(min-width:481px) and (max-width:576px){
                    width: 200px;
                    margin-left: 80px;
                }
                @media(min-width:577px) and (max-width:768px){
                    width: 270px;
                    margin-left: 100px;
                }
                input{
                    border: none;
                    background: #272228;
                    width: 80%;
                    height: 20px;
                    transform: skewX(20deg);
                    color: #f7f7f7;
                    outline: none;
                    margin-left: 10px;
                }
                .envlop{
                    transform: skewX(20deg);
                }
            }    
            button{
                transform: skewX(-20deg);
                margin-left: 5px;
                background-color: #e5a100;
                border: none;
                padding: 10px 12px;
                h4{
                    margin: auto;
                    transform: skewX(20deg);
                    font-size: 10px;
                }
            }
        }
        .fire{
            position: absolute;
            bottom: 0;
            width: 155px;
            @media(min-width:320px) and (max-width:480px){
                width: 100px;
            }
            @media(min-width:481px) and (max-width:576px){
                width: 110px;
            }
            @media(min-width:577px) and (max-width:768px){
                width: 120px;
            }
            @media(min-width:769px) and (max-width:992px){
                width: 130px;
            }
            @media(min-width:993px) and (max-width:1200px){
                width: 140px;
            }
        }
        .left{
            left: 4%;
        }
        .ryt{
            right: 4%;
        }
        .foot_block{
            gap: 50px;
            position: absolute;
            bottom: 130px;
            display: flex;
            justify-content: center;
            max-width: 53rem;
            left: 50%;
            transform: translateX(-50%);
            flex-wrap: wrap;
            @media(min-width:320px) and (max-width:480px){
                bottom: 150px;
                justify-content: start;
            }
            @media(min-width:481px) and (max-width:576px){
                bottom: 120px;
                justify-content: start;
            }
            @media(min-width:577px) and (max-width:768px){
                bottom: 30px;
            }
            @media(min-width:769px) and (max-width:992px){
                bottom: 120px;
            }
            @media(min-width:993px) and (max-width:1665px){
                bottom: 0;
            }
            .geco{
                display: flex;
                font-size: 12px;
                opacity: 90%;
                img{
                    width: 45px;
                    height: 45px;
                    object-fit: cover;
                    margin-right: 10px;
                }
                h2{
                    font-size: 30px;
                    padding-top: 5px;
                }
            }
            ul{
                max-width: 250px;
                list-style: none;                   
                .ftitle{
                    padding-bottom: 10px;
                    font-size: 12px;
                    opacity: 90%;
                    position: relative;
                    &::after{
                        position: absolute;
                        content: '';
                        width: 40px;
                        height: 5px;
                        border-radius: 2px;
                        top:15px;
                        left: 0;
                        background-color: #e5a100;
                    }
                }
                .footer_icons{
                    opacity: 90%;
                    .icon{
                        font-size: 12px;
                        margin-right: 4px;
                        color: white;
                    }
                }
                .signup{
                    font-size: 12px;
                }
                .srch{
                    display: flex;
                    align-items: center;
                    opacity: 80%;
                    .search{
                        padding: 10px;
                        font-size: 12px;
                        background: #272228;
                        border: none;
                        color: white;
                        outline: none;
                    }
                    .rocket{
                        font-size: 11px;
                        background: orange;
                        color: black;
                        padding: 10px;
                    }
                }
                li{
                    font-size: 14px;
                    opacity: 30%;
                    margin-bottom: 10px;
                    color: white;
                }
            } 
        }
        .fb{
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            background-color: #1d181e;
            top: 100%;
            width: 100%;
            align-items: center;
            justify-content: space-around;
            @media(min-width:320px) and (max-width:576px){
                padding-block: 5px;
            }
            h3{
                color: whitesmoke;
                font-size: 14px;
                opacity: 70%;
                span{
                    color: #e5a100;
                }
            }
        }
    }
}



