@import"../1-variable/variable";
@import'../4-module/navbar';
@import'../4-module/carousel1';
@import'../4-module/cardcarousel';
@import'../4-module/match';
@import'../4-module/games';
@import'../4-module/article';
@import'../4-module/footer';

*{
    margin :0;
    padding:0;
}

body{  
    font-family: 'Oxanium', cursive;
}
.container{ 
    max-width: 1920px;
}



