@import'../1-variable/variable';

.navbar{
    display:flex;
    justify-content: space-between;
    height: 65px;
    width: 100%;
    align-items: center;
    background-color: $nav-bg;
    position: sticky;
    top: 0%;
    z-index: 22;
    .left{
        display: flex;
        height: 100%;
        box-sizing: border-box;
        width: 445px;
        @media (min-width:320px) and (max-width:768px){
            width: 100%;
            background-color: $primary-color;
        }
        @media (min-width:769px) and (max-width:992px){
            padding: 0 0% 0 0%;
            width: 30%;
        }
        @media (min-width:993px) and (max-width:1200px){
           
            width: 30%;
        }
        .logo{
            background-color: $primary-color;        
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 35% 0 12%;
            // position: relative;
            @media (min-width:320px) and (max-width:768px){
                padding: 0 0% 0 5%;
                width: 100%;
            }
            @media (min-width:769px) and (max-width:992px){
                padding: 0 20% 0 10%;
            }
            // &::before{
            //     content: '';
            //     position: absolute;
            //     width: 50px;
            //     height: 65px;            
            //     background-color: orange;
            //     right: -9%;
            //     transform: skewX(26deg);
            //     @media (width:320px){
            //         right: -30%;
            //     }
            // }         
            li{
               list-style: none;
               height: 100%;
               img{
                    width: 50px;
                    margin-right: 10px;
                    height: 100%;
                    object-fit: cover;
                    @media (min-width:320px) and (max-width:480px){
                        display: none;
                    }
               }
            }
            .geco{
                font-weight: bolder ;
                font-size: 26px;
                color: $secondary-color;
                display: flex;
                align-items: center;
                @media (width:320px){
                    margin-left: 30%;
                }
            }
        }
        .skew-box{
            height: 100%;
            width: 50px;
            background: $primary-color;
            transform: skewX(20deg) translateX(-12px);
            @media (min-width:320px) and (max-width:768px){
                display: none;
            }
        }
    }
    .bars{
        width: 120px;
        height: 100%;
        @media (min-width:768px) and (max-width:1920px){
            display: none;
        }
        .bar{
            font-size: 48px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            
        }
        .ti{
            color: $secondary-color;
            transition: 10s ease-in-out;
        }
        .down{
            display: none;
            color: $secondary-color;
        }
    }
    .navkeys{
        gap: 1px;
        margin-right: 20px;
        display:flex ;
        flex-wrap: wrap;
        height: 100%;
        align-items: center;
        @media (min-width:320px) and (max-width:768px){     
            display: none; 
        }
        li{
            box-sizing: border-box;
            padding: 10px;
            display: flex;
            align-items: center;
            height: 80%;
            line-height: 1;
            font-size: clamp(8px,1.2vw,16px);
            @media (min-width:320px) and (max-width:768px){
                height: 6%;
                padding: 0 25%;
            }
        }
        #home_nv{
            list-style: none;        
            background-color: $primary-color;
            transform: skewX(-20deg);
            a{
                display: block;
                padding: 0 10px;
                color: $secondary-color;
                text-decoration: none;
                transform: skewX(20deg);
            }
        }
        .bg{
            list-style: none;
            transform: skewX(-20deg);    
            &:hover{
                background-color:$primary-color;
            }           
            a{                  
                display: block;
                text-decoration: none;
                color: $secondary-color; 
                transform: skewX(20deg);
            }
        }
        .icon{
            list-style: none;
            display: flex;
            align-items: center;
            .icn{
                color: $secondary-color;
                font-size: 14px;
            }
            .bucket{
                position: relative;
                &::before{
                    content: '0';
                    position: absolute;
                    background-color: $primary-color;
                    color: $secondary-color;
                    top: 0;
                    right: 0;
                }
            }
        }
    }  
    @media(min-width: 320px) and (max-width:768px){
        .navres{
            display: flex;         
            position: absolute;
            top:0%;
            background: transparent; 
            flex-direction: column;
            gap: 20px;
            width: 100%;
            backdrop-filter: blur(8px);
            height: 90vh;
            z-index: 1;          
        } 
    }      
}
